body {
  font-family: 'Lucida Console', 'Courier New', monospace;
  font-size: 26pt;
  line-height: 1.2em;
}
#root {
  width:100%;
  max-width: 760px;
  text-align: left;
  margin: 1em auto;
}
.permalink {
  font-size: .5em;
  color: #ddd;
  line-height: 1em;
}
.permalink a {
  text-decoration: none;
  color: inherit;
}
.permalink a:hover {
  text-decoration: underline;
}

.link {
  font-size: 0.8em;
  color: #656565;
  line-height: 1em;
}
.link button {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}
.link button:hover {
  text-decoration: underline;
}

.logo-cont {
  text-align: center;
}

h4 {
  margin-bottom:0
}

ul li {
  margin-bottom:1em;
}
